* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  display: flex;
}
.container {
  margin: 5px;
  width: 250px;
  height: 250px;
  border: 1px solid #000;
}

.block {
  width: 248px;
  height: 225px;
  background-color: #ccc;
}

.box{
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 1px;
}

.flex{
  display: flex;
}

.flex-items {

}

.p2 .flex{
  display: flex;
  justify-content: center;
}