* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(180deg, rgb(18, 196, 236), rgb(37, 23, 155));
  height: 98vh;
}

.container {
  width: 80%;
  height: 540px;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.painel{
  background-color: #fff;
  width: 90%;
  height: 180px;
  margin: auto;
  display: flex;  
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 5px; 
}
label {
  padding: 5px;
  margin: 5px;
  background: linear-gradient(100deg, #ffffff 0.48%, #929191 100%);
  border-radius: 5px;
  /* display: flex;
  flex-direction: column;*/
}
.block{
  width: 98%;
  height: 300px;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 10px #ccc;
}

.box{
  /* width: 80px;
  height: 80px; */
  background-color: #f00;
  margin: 1px;
  color: #ccc;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(100deg, rgb(18, 196, 236), rgb(37, 23, 155));
}

select, input {
  height: 25px;
  width: 120px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
}


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
  font-size: 1rem;
  font-weight: 200;
}
.order input{
  width: 40px;
}
.hidden{
  display: none;
}